/*===   MAIN STYLES   ===*/

body, html {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

.clear {
	clear: both;
}

.shadow-left, .shadow-right {
	position: fixed;
	width: 14px;
	height: 100%;
	z-index: 11;
}

.contacts .shadow-left, .contacts .shadow-right {
	z-index: 13;
}

.shadow-left {
	left: 50%;
	margin-left: -528.5px;
	background: url(../img/box-shadow-left.png) repeat-y center center;
}

.shadow-right {
	right: 50%;
	margin-right: -528.5px;
	background: url(../img/box-shadow-right.png) repeat-y center center;
}

.cont-company-text {
	margin-top: 40px;
}

h1{
	font-size: 24px;
	color: #424751;
}

h2{
	font-size: 20px;
	color: #424751;
}

h3{
	font-size: 18px;
	color: #424751;
}

a {
	color: #56467f;
	font-family: 'PT Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}


i.arrow {
	font-family: 'Minion Pro';
	margin-left: 5px;
}

section p {
	font-size: 16px;
	color: #000;
}

/*===   /MAIN STYLES   ===*/


/*===   HEADER-HOLDER   ===*/

.header-holder {
	width: 100%;
	height: 574px;
	position: absolute;
	top: 0;
	left: 0;
}

.header-center {
	margin: 0 auto;
	width: 1029px;
	height: auto;
	position: relative;
	z-index: 4;
}

/*===   /HEADER-HOLDER   ===*/

/*===   HEADER   ===*/

header {
	width: 100%;
	height: 120px;
	background: url(../img/header-bg.png) no-repeat center bottom;
	padding-bottom: 4px;
	border-bottom: 4px solid #4cb7ee;
	font-family: 'PT Sans', sans-serif;
	
	-webkit-box-shadow: inset 0px -1px 0px rgba(141, 134, 162, 1);
	-moz-box-shadow:    inset 0px -1px 0px rgba(141, 134, 162, 1);
	box-shadow:         inset 0px -1px 0px rgba(141, 134, 162, 1);
}

.index header {
	height: 91px;
	border: none;
	
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}

.contacts header {
	border: none;
	
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}

.header-block {
	background: #fff;
	height: 67px;
	line-height: 43px;
	width: 960px;
	margin: 0 auto;
	padding: 14px 30px 0px 22px;
	vertical-align: middle;
	
	-webkit-box-shadow: 0px 6px 6px rgba(65, 57, 93, 0.75);
	-moz-box-shadow:    0px 6px 6px rgba(65, 57, 93, 0.75);
	box-shadow:         0px 6px 6px rgba(65, 57, 93, 0.75);
}

.header-block a{
	color: #423763;
	font-size: 1.125em;
	text-decoration: none;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
	margin-right: 17px;
	position: relative;
}

header ul li.show:before {
	content: "";
	background: url(../img/rectangle.png) no-repeat center center;
	width: 22px;
	height: 12px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -11px; 
	display: block;
}

header ul li:before {
	display: none;
}

header ul li.show:after {
	content: "";
	position: absolute;
	background: url(../img/menu-hover.png) repeat-x;
	width: 100%;
	left: 0px;
	height: 9px;
	bottom: -19px;
	display: block;
}

header ul li:after {
	display: none;
}

header ul li:last-child {
	margin-right: 0px;
}

.header-border {
	min-width: 1029px;
	width: 100%;
	height: 20px;
	background: #423070;
}

.index  .header-center{
	height: 574px;
}

.page-nav {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #b3aad3;
	margin-left: 63px;
	margin-top: 20px;
}

.page-nav a {
	display: inline-block;
	position: relative;
	color: #fff;
	text-decoration: none;
	margin-left: 30px;
}

.page-nav a:first-child {
	margin-left: 0px;
}

.page-nav span {
	margin-left: 30px;
} 

.page-nav a:hover {
	text-decoration: underline;
}

.page-nav a:after {
	content: "";
	position: absolute;
	width: 5px;
	height: 12px;
	background: url(../img/page-nav-after.png) no-repeat center center;
	right: -17.5px;
	top: 1px;
}

/*===   /HEADER   ===*/

/*===   SLIDER   ===*/

.slider-nav{
	position: absolute;
	width: 54px;
	height: 53px;
	top: 212px;
	cursor: pointer;
}

.slider-center {
	margin: 0 auto;
	width: 1029px;
	margin-top: 140px;
}

.slider-center .right-block, .slider-center .left-block{
	position: relative;
	z-index: 5;
}

.slider-nav.left {
	left: -99px;
	background: url(../img/nav-left.png) no-repeat center center;
}

.slider-nav.right {
	right: -99px;
	background: url(../img/nav-right.png) no-repeat center center;
}

.slider-block {
	margin-top: 46px;
	width: 100%;

}

.left-block {
	float: left;
	width: 470px;
	height: auto;
	background: rgba(67, 71, 81, .77);
	color: #fff;
	font-weight: 700;
	padding: 25px 0px 15px 35px;
	margin-left: 76px;
}

.right-block {
	float: right;
	width: 202px;
	height: 50px;
	line-height: 46px;
	text-align: center;
	background: rgba(103, 107, 115, 0.43);
	border: 3px solid white;
	margin-top: 30px;
	margin-right: 139px;

	-moz-border-radius: 25px; /* Firefox */
	-webkit-border-radius: 25px; /* Safari, Chrome */
	-khtml-border-radius: 25px; /* KHTML */
	border-radius: 25px; /* CSS3 */

}

.right-block a {
	color: #fefefe;
	font-size: 1.125em;
	font-weight: 700;
	text-decoration: none;
}

.right-block a:hover {
	text-decoration: underline;
}

.left-block span{
	text-transform: uppercase;
	line-height: 1.2em;
	font-size: 1.8333em;
}

.left-block p {
	color: #06afff;
	font-size: 1em;
	font-weight: 400;
	/*text-shadow: 0px 1px 0px rgba(255, 255, 255, 1), 0px 1px 0px rgba(0, 0, 0, 0.27);*/
}

.js-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1029px;
	height: 100%;
	z-index: 1;
}

.js-slider.active{
	z-index: 2;
}

.n1 {
	background: url("../img/slide-1.jpg");
	z-index: 3;
}

.n2 {
	background: url("../img/slide-2.jpg");
}

.n3 {
	background: url("../img/slide-3.jpg");
}

.menu-header{
	width: 960px;
	height: 269px;
	margin: 0 auto;
	bottom: 4px;
	left: 50%;
	margin-left: -480px;
	position: absolute;
}

.menu-block {
	width: 319px;
	height: 134px;
	margin-bottom: 1px;
	display: inline-block;
	margin-right: 1px;
	background: rgba(18, 179, 239, 0.47);
	position: relative;
	overflow: hidden;

	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	-khtml-border-radius: 4px; /* KHTML */
	border-radius: 4px; /* CSS3 */
}

.menu-block:nth-child(3), .menu-block:last-child{
	margin-right: 0px;
}

.menu-block:nth-child(4), .menu-block:nth-child(5), .menu-block:last-child {
	margin-bottom: 0px;
}

.menu-block-hover{
	position: absolute;
	margin-top: 134px;
	width: 100%;
	height: 100%;
	background: rgba(66, 48, 112, 0.75);

	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	-khtml-border-radius: 4px; /* KHTML */
	border-radius: 4px; /* CSS3 */
}

.block-cont{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0.9325em;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.block-cont img{
	margin: 0 auto;
	margin-top: 18px;
	margin-bottom: 20px;
}

.menu-block-hover img {
	margin: 9px 9px 0px 9px;
	vertical-align: top;
}

.menu-block-hover .hover-text {
	display: inline-block;
	margin: 9px 0px 0px 0px;
	font-size: 1em;
	color: #fff;
	font-weight: 700;
}

.hover-text p {
	text-transform: uppercase;
}

.hover-text ul {
	margin-top: 10px;
	position: relative;
	z-index: 5;
}

.hover-text ul li a{
	font-size: 0.875em;
	color: #fff;
	text-decoration: none;
}

.hover-text ul li a:hover{
	text-decoration:  underline;
}

.pointer {
	width: 55px;
	height: 71px;
	/*background: url(../img/pointer.png) no-repeat center center;*/
	position: absolute;
	right: 18px;
	bottom: 8px;
	z-index: 4;
}

/*===   /SLIDER   ===*/

/*===   CONTAINER   ===*/

.container {
	width: 1029px;
	margin: 0 auto;
	position: relative;
	padding: 38px 35px 34px;
	font-family: 'PT Sans', sans-serif;
}

.block-title {
	color: #424751;
	font-size: 1.5em;
	margin-left: 136px;
}

.company-text{
	margin-left: 285px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.info-block{
	display: inline-block;
	width: 47%;
	margin-right: 6%;
	vertical-align: top;
	color: #000;
	font-size: 1em;
}

.info-block:last-child {
	margin-right: 0%;
}

.function-block-holder {
	width: 100%;
	height: 88px;
	background: #384151;
	color: #fff;
	font-size: 1.125em;
	text-transform: uppercase;
}



.function-block {
	width: 319px;
	display: inline-block;
	margin-right: 1px;
	line-height: 83px;
	height: 100%;
	border-bottom: 5px solid #12b3ef;
	text-align: center;
}

.function-block a {
	color: #fff;
	text-decoration: none;
	float: none;
}

.function-block a:hover {
	text-decoration: underline;
}

div.function-block:last-child {
	margin-right: 0;
}

.function-block i{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.services-nav i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 10px;
	width: 55px;
}

.function-block a {
	vertical-align: middle;
}

i.installation {
	background: url(../img/installation.png) no-repeat center center;
	width: 49px;
	height: 41px;
}

i.service {
	background: url(../img/service.png) no-repeat center center;
	width: 55px;
	height: 41px;
}

i.design {
	background: url(../img/design.png) no-repeat center center;
	width: 41px;
	height: 45px;
}

.services-nav i.installation {
	background: url(../img/installation-white.png) no-repeat right;
	width: 55px;
	height: 41px;
}

.services-nav i.service {
	background: url(../img/service-white.png) no-repeat right;
	height: 41px;
	width: 55px;
}

.services-nav i.design {
	background: url(../img/design-white.png) no-repeat  right;
	height: 45px;
	width: 55px;
}

.company a {
	color: #423070;
	font-size: 1em;
}

.more-about-company {
	float: right;
	margin-bottom: 25px;
}

.company a:hover {
	text-decoration: none;
}

.container-border {
	height: 20px;
	background: #f2f2f2;
}

.news {
	width: 474px;
	float: left;
}

.box-holder {
	position: relative;
	width: 474px;
	height: 148px;
	overflow: hidden;
	background: #f2f2f2;
	margin-top: 10px;
}

.news-body .box-holder {
	position: relative;
	width: auto;
	height: 490px;
	overflow: hidden;
	margin-top: 0;
	background: none;
}

.portfolio-body  .box-holder {
	position: relative;
	width: auto;
	height: 490px;
	overflow: hidden;
	margin-top: 0;
	background: none;
}

.box {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 15px 17px;
}

.news-body .box-holder div.box {
	padding: 0px 0px;
}

.news-body .box p {
	width: 100%;
}

.portfolio-body .box-holder div.box {
	padding: 0px 0px;
}

.portfolio-body .box p {
	width: 100%;
	color: #fff;
}

.box.number2 {
	left: 100%;
}

.box.number3 {
	left: 100%;
}

.box p {
	width: 240px;
	font-size: 1em;
	color: #000;
}

.portfolio .box p {
	color: #fff;
}

.box span {
	position: absolute;
	left: 17px;
	bottom: 10px;
	color: #8d8d8d;
	font-size: 0.6875em;
}

.box img{
	position: absolute;
	top: 1px;
	right: 1px;
}

.circle-holder {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 12px;
	margin-top: 18px;
}

.circle {
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	background: #8f8f8f;
	margin-right: 5px;
	left: 45%;
}

.news-body .circle, .portfolio-body .circle {
	left: 48%;
}

.circle-a {
	background: #423070;
}

.portfolio {
	float: right;
	width: 474px;
}

.portfolio .box-holder  {
	background: #3d4451;
}

.news .block-title, .portfolio .block-title {
	margin-left: 20px;
}

.news a, .portfolio a {
	color: #423070;
	font-size: 1em;
}

.more-block {
	float: right;
	margin-top: 5px;
}

.news a:hover, .portfolio a:hover {
	text-decoration: none;
}

.lol {
	max-width: 100%;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.lol:before {
	content: "";
	width: 92px;
	height: 93px;
	position: absolute;
	background: url(../img/left-scroll-shadow.png);
	left: 0px;
	top: 0px;
	z-index: 3;
}

.lol:after {
	content: "";
	width: 92px;
	height: 93px;
	position: absolute;
	background: url(../img/right-scroll-shadow.png);
	right: 0px;
	top: 0px;
	z-index: 3;
}

.lol .item {
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;
	text-align: center;
	width: auto;
}

.manufacturer-holder {
	position: relative;
	margin-top: 100px;
}

.manufacturer-border {
	background: #3d4451;
	height: 6px;
	width: 100%;
	margin-bottom: 90px;
}

.manufacturer-block {
	width: 276px;
	height: 54px;
	background: #3d4451;
	position: absolute;
	left: -24px;
	color: #fff;
	font-size: 1.5em;
	line-height: 54px;
	text-align: center;

	-moz-border-radius: 6px 0px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 0px 6px 6px; /* Safari, Chrome */
	-khtml-border-radius: 6px 0px 6px 6px; /* KHTML */
	border-radius: 6px 0px 5px 6px; /* CSS3 */
}

.manufacturer-block i {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	background: url(../img/manufac-icon.png);
}

.manufacturer-block span {
	vertical-align: middle;
	margin-left: 8px;
}

.page-title{
	padding-top: 30px;
}

.company-body .page-title {
	padding-top: 0px;
	padding-bottom: 20px;
}

/*===   /CONTAINER   ===*/

/*===   COMPANY   ===*/



/*===   /COMPANY   ===*/


/*===   CONTACTS   ===*/

.footer-nav-center h1 {
	font-size: 18px;
	color: #fff;
}

/*===   /CONTACTS   ===*/

/*===   NEW-NEWS   ===*/

.new-news .left {
	width: 240px;
	margin-right: 36px;
	float: left;
	text-align: right;
}

.new-news .left .img-holder {
	float: right;
	margin-bottom: 10px;
	width: 197px;
	height: 145px;
}

.new-news .right {
	float: right;
	width: 683px;
}

.new-news .right img {
	max-width: 90%;
	float: left;
	margin: 0px 10px 0px 0px;;
}

.big-img-holder {
	margin: 20px 0px;
}

.new-news .right h1 {
	margin-bottom: 25px;
}

.news-block {
	width: 474px;
	position: relative;
	height: 148px;
	padding: 2px 1px 1px 16px;
	background: #f2f2f2;
	display: inline-block;
	margin-right: 11px;
}

.news-block.black {
	background: #3d4451;
}

.black .news-text p{
	color: #fff;
}

.news-block.black a, .news-block.black i.arrow {
	color: #9ea1a8;
}

.new-news .news-block:nth-child(2n) {
	margin-right: 0px;
}

.news-body .news-block:nth-child(2n) {
	margin-right: 0px;
}

.portfolio-body .news-block:nth-child(2n) {
	margin-right: 0px;
}

.new-block  img {
	max-width: 100%;
}

.news-text {
	float: left;
	width: 245px;
	padding-top: 13px;
	line-height: 1.2em;
}

.news-text .more-info {
	float: right;
	margin-top: 5px;
}

.title-other-news {
	padding: 0px 0px 16px 25px;
}

.news-img {
	width: 194px;
	height: 145px;
	float: right;
}

.border-line {
	height: 2px;
	width: 100%;
	background: #4cb7ee;
	width: 1029px;
	margin: 0 auto;
}

.all-news {
	float: right;
	margin-top: 5px;
	padding-bottom: 20px;
}

/*===   /NEW-NEWS   ===*/

/*===   NEWS   ===*/



.news-text .comment {
	float: left;
	margin-top: 7px;
}

.see-our-works {
	display: inline-block;
	width: 252px;
	color: #423070;
	font-size: 18px;
	text-decoration: none;
	height: 50px;
	line-height: 44px;
	border: 3px solid #423070;
	font-weight: bold;
	text-align: center;
	margin-left: 120px;
	margin-top: 43px;
	vertical-align: top;
	
	-moz-border-radius: 25px; /* Firefox */
	-webkit-border-radius: 25px; /* Safari, Chrome */
	-khtml-border-radius: 25px; /* KHTML */
	border-radius: 25px; /* CSS3 */
}

.see-our-works:hover {
	text-decoration: underline;
}

.news-body .news-block {
	margin-bottom: 14px;
	margin-right: 11px;
}

.portfolio-body .news-block {
	margin-bottom: 14px;
	margin-right: 11px;
}

.news-body .news-block:hover {
	-webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.26);
	-moz-box-shadow:    0px 6px 6px rgba(0, 0, 0, 0.26);
	box-shadow:         0px 6px 6px rgba(0, 0, 0, 0.26);
}

.our-works .news-block:hover{
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}


/*===   /NEWS   ===*/

/*===   PRODUCTION   ===*/

.prod-nav {
	width: 240px;
	height: auto;
	display: inline-block;
	margin-right: 34px;
}	

.prod-nav  ul {
	height: auto;
}

.prod-nav > ul > li {
	min-height: 64px;
	width: 100%;
	margin-bottom: 1px;
	background: #8fdbf7;
	font-size: 16px;
	color: #3d4451;
	font-weight: 700;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
}

.prod-nav ul li .li-block {
	height: 64px;
	display: table-cell;
	vertical-align: middle;
}

.prod-nav ul li img {
	width: 41px;
	height: 41px;
	margin-right: 8px;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
}

.prod-nav ul li span {
	display: inline-block;
	width: 181px;
	vertical-align: middle;
}

.prod-nav ul.second-level  {
	background: #d7e4ea;
	border-top: 1px solid #fff;
	padding: 6px 0px;
	display: none;
}

.prod-nav ul.second-level li{
	width: 100%;
	padding: 5px 10px 5px 25px;
}

.prod-nav ul.second-level li a {
	text-decoration: none;
	color: #44396c;
	font-size: 14px;
}

.prod-nav ul.second-level li:hover {
	background: #3d4451;
}

.prod-nav ul.second-level li:hover a {
	color: #fff;
}

.prod-nav ul.second-level li.prod-selected {
	background: #3d4451;
}

.prod-nav ul.second-level li.prod-selected a {
	color: #fff;
}

.prod-info {
	display: inline-block;
	vertical-align: top;
	width: 685px;
}

.prod-info h1 {
	margin-bottom: 20px;
}

.prod-info img.big-prod-img {
	margin: 20px 10px 20px 0px;
	display: inline-block;
}

.prod-info .comment {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.prod-info .small-prod-img {
	float: left;
	margin: 20px 20px 20px 0px;
}

.prod-info .small-prod-img + p {
	margin-top: 20px;
}

.production-body .function-block-holder {
	margin-top: 50px;
}

/*===   /PRODUCTION   ===*/

/*===   SERVICES   ===*/

.services-nav {
	width: 255px;
	height: auto;
	margin-right: 25px;
	display: inline-block;
	vertical-align: top;
}

.services-nav ul {
	height: auto;
}

.services-nav ul li {
	height: 66px;
	width: 100%;
	background: #3d4451;
	border-left: 5px solid #4cb7ee;
	margin-bottom: 1px;
	position: relative;
	line-height: 66px;
}

.services-nav ul li a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}

.services-nav ul li:hover {
	background: #4cb7ee;
	border-left: 5px solid #423070;
}

.services-nav ul li.service-selected{
	background: #4cb7ee;
	border-left: 5px solid #423070;
}

.services-nav ul li:hover:after {
	content: "";
	position: absolute;
	right: -11px;
	width: 11px;
	height: 22px;
	background: url(../img/triangle-serive.png) no-repeat center center;
	top: 50%;
	margin-top: -11px;
}

.services-nav ul li.service-selected:after {
	content: "";
	position: absolute;
	right: -11px;
	width: 11px;
	height: 22px;
	background: url(../img/triangle-serive.png) no-repeat center center;
	top: 50%;
	margin-top: -11px;
}

.services-info {
	display: inline-block;
	width: 679px;
	vertical-align: top;
}

.services-info h1{
	margin-bottom: 20px;
}

/*===   /SERVICES   ===*/


/*===   FOOTER   ===*/

footer {
	position: relative;
	z-index: 12;
	width: 100%;
	min-width: 1029px;
	font-family: 'PT Sans', sans-serif;
}

.footer-nav {
	width: 100%;
	height: 80px;
	background: #423070;
	line-height: 80px;
}

.footer-nav-center {
	width: 1029px;
	margin: 0 auto;
	height: 100%;
	padding: 0px 35px;
	position: relative;
}

.footer-nav-center:before {
	content: "";
	position: absolute;
	top: -5px;
	height: 4px;
	background: #4cb7ee;
	left: 0px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 0px rgba(141, 134, 162, 1);
	-moz-box-shadow:    0px 1px 0px rgba(141, 134, 162, 1);
	box-shadow:         0px 1px 0px rgba(141, 134, 162, 1);
}

.index  .footer-nav-center:after {
	display: none;
}

.footer-nav ul {
	float: left;
}

.footer-nav ul li {
	display: inline-block;
	margin-right: 12px;
}

.footer-nav a {
	color: #fff;
	font-size: 1em;
	text-decoration: none;
}

.footer-nav a:hover {
	text-decoration: underline;
}

.footer-nav span.phone {
	float: right;
	margin-right: 45px;
	font-size: 1.875em;
	color: #fefefe;
	font-weight: 700;
}

#ymap {
	height: 260px;
}

.contacts  #ymap{
	height: 800px;
}

.map-center {
	width: 1029px;
	left: 50%;
	margin-left: -514.5px;
	margin-top: 70px;
	position: absolute;
	z-index: 2;
	padding: 0px 35px;
}

.address-block {
	background: rgba(66, 48, 112, 0.73);
	width: 512px;
	height: auto;
	padding: 20px 0px 20px 66px;
	color: #12b3ef;
	font-size: 1em;
	line-height: 1.4;
	float: left;
}

.address-block p {
	color: #fff;
}

.feedback {
	float: right;
	width: 284px;
	position: relative;
	margin-top: -40px;
}

.feedback  input,textarea {
	display: block;
	resize: none;
	border: 1px solid #423070;
	border-left: 4px solid #423070;
	padding: 0px 7px;
	height: 38px;
	width:	100%;
	margin-bottom: 10px;
	font-size: 1em;
	color: #656565;
	font-family: 'PT Sans', sans-serif;

	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	-khtml-border-radius: 4px; /* KHTML */
	border-radius: 4px; /* CSS3 */
}

.feedback textarea {
	padding-top: 5px;
	height: 92px;
	margin-bottom: 0px;
}

.send {
	width: 130px;
	height: 38px;
	right: 0;
	bottom: 0;
	position: absolute;
	background: #423070;
	text-align: center;
	line-height: 38px;
	color: #fff;
	font-size: 1em;
	cursor: pointer;

	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	-khtml-border-radius: 4px; /* KHTML */
	border-radius: 4px; /* CSS3 */
}

.send i {
	display: inline-block;
	width: 25px;
	height: 16px;
	margin-right: 5px;
	background: url(../img/mail.png) no-repeat center center;
}

/*===   /FOOTER    ===*/

.info-box {font-size: 1em; color: #000;}
.info-box * {font-size: 1em;}
.info-box * * {font-size: 1em;}
.info-box * * * {font-size: 1em;}

.info-box h1 {color: #424751; font-size: 1.5em;margin-bottom: 20px;}
.info-box h2 {color: #424751; font-size: 1.25em;margin-bottom: 15px;}
.info-box h3 {color: #424751; font-size: 1.125em;margin-bottom: 10px;}

.info-box p {color: #000; font-size: 1em; margin-bottom: 20px;}
.info-box p a {font-size: 1em; color: #56467f;}
.info-box p b {font-size: 1em; font-weight: bold; color: #000;}
.info-box p strong {font-size: 1em; font-weight: bold; color: #000;}
.info-box p i {font-size: 1em; font-style: italic; color: #000;}
.info-box p em {font-size: 1em; font-style: italic; color: #000;}
.info-box a {color: #0099ff; font-size: 1em}
.info-box b {font-size: 1em; font-weight: bold; color: #000;}
.info-box strong {font-size: 1em; font-weight: bold; color: #000;}
.info-box i {font-size: 1em; font-style: italic; color: #000;}
.info-box em {font-size: 1em; font-style: italic; color: #000;}
.info-box sup {font: 0.81em arial;}
.info-box sub {font: 0.81em arial;}

.info-box img {border: 1px solid #cdcdcd; background: white; padding: 2px; max-width: 100%;}

.info-box ul {margin: 15px 0; list-style: disc; margin-left: 30px;}
.info-box ul li {padding-bottom: 4px; color: #000; font-size: 1em;}
.info-box ul li a {font-size: 1em; color: #0099ff;}
.info-box ul li p {font-size: 1em;}
.info-box ul li b {font-size: 1em;}
.info-box ul li i {font-size: 1em;}

.info-box ol {margin: 15px 0; list-style-position: inside;}
.info-box ol li {padding-bottom: 4px; font-size: 1em; color: #000;}
.info-box ol li a {font-size: 1em; color: #0099ff;}
.info-box ol li p {font-size: 1em;}
.info-box ol li b {font-size: 1em;}
.info-box ol li i {font-size: 1em;}

.info-box .comment {
	color: #8d8d8d;
	font-size: 11px;
}