{reduce:nothing}
{mask:main}
	<div class="subheader-wrapper">
		<div class="subheader clearline container">
			<div class="info">
				<h1>{name}</h1>
				<div class="text">
					{text}
				</div>
			</div>
			<div class="documents">
				<div class="documents-block">
					{set:document}
					<p class="name">Документы</p>
					<div class="list">
						{mask:document}
						<div class="item clearline">
							<i class="icon-e icon-download"></i>
							<div class="text"><a href="/files/0/{file}">{name}</a></div>
						</div>
						{/mask}
					</div>
					{/set}
				</div>
			</div>
		</div>
	</div>

	<div class="main-content container clearline">
		<div class="info-box clearline">
			{mask:item}
				{texthtml}
			{/mask}
		</div>
	</div>
{/mask}