{reduce:nothing}
{mask:main}

	<div class="subheader-wrapper tours">
		<div class="subheader clearline container">
			<div class="tour-filters">
				<h1>{name}</h1>

				<!--filtersblock//-->

			</div>
		</div>
	</div>

	<div class="tours-page container clearline">
		<div class="list" id="tours-list">
			{mask:item}
			{if:!{_first}}-->{/if}<a href="{url}" class="item-wrapper">
				<div class="item">
					<div class="image">
						{mask:mainimage}{if:{_first}}
						<img src="/files/1/{image}" alt="{php}htmlspecialchars({../name}){/php}">
						{/if}{/mask}
					</div>
					<div class="info">
						<div class="name">
							<p class="name-s">{name}</p>
							<p class="count">({nights})</p>
						</div>
						{if:{//auth}}
						<div class="prices clearline">
							<div class="column">
								<p class="price">{fullprice} Р</p>
								<p class="tip">Общая стоимость</p>
							</div>
							<div class="column">
								<p class="price">{agentprice} Р</p>
								<p class="tip">К оплате</p>
							</div>
						</div>
						<div class="agent-price">
							<p class="price">{difference} Р</p>
							<p class="tip">Комиссия агенту</p>
						</div>
						{/if}

						{if:!{//auth}}
						<div class="agent-price">
							<p class="price">{fullprice} Р</p>
							<p class="tip">Стоимость</p>
						</div>
						{/if}

						<div class="compare">
							{set:inCompare}
							<span onclick="document.location.href='/compare/'; return false;">Добавлено к сравнению</span>
							{/set}
							{mis:inCompare}
							<span class="compare-add" data-id="{id}" data-type="t">Добавить к сравнению</span>
							{/mis}
						</div>
					</div>
				</div>
			</a>{if:!{_last}}<!--{/if}
			{/mask}
		</div>

		<!-- -->
		<div class="more">
			{pages_down}
		</div>

	</div>

{/mask}