{reduce:nothing}
{mask:main}
	<div class="subheader-wrapper excursion">
		<div class="subheader clearline container">
			<div class="info">
				<h1>{name}</h1>
				<div class="text">
					{text}
				</div>
			</div>
		</div>
	</div>

	<div class="equip-page clearline" id="equip-page">
		{mask:item}
		<div class="item clearline">
			{mask:image}{if:{_first}}
			<div class="image" style="background-image: url(/files/1/{image});"></div>
			{/if}{/mask}
			<div class="text-wrapper">
				<div class="text">
					<div class="padding">
						<p class="name">{name}</p>
						<div class="info-box">
							{text}
						</div>
					</div>
				</div>
			</div>
		</div>
		{/mask}
	</div>
{/mask}