
	
			<!--CATALOG-->
			<div class="catalog">
			<div class="catalog-inner">
	
							

				
					
					<div class="item">						
							<p class="name"><a href="/catalog/383/_aview_b133/">Shturmann® Mini5001</a></p>
							<div class="image">
									
									
									
									
								
							</div>
							
							<div class="tools">								
								<div class="rating">
									<div id="rating_133"></div>
									<p id="ratingText_133">5 баллов (2 оценки)</p>
								</div>

								
								
								<a href="#" class="compare" data-id="133"></a>
								
							</div>

							<script type="text/javascript">
								
									$(document).ready(function() {
										$('#rating_133').raty({														
											start: 5,
											width: 120,
											path: '/scripts/jquery.raty/img',											
											hintList:    ['плохо', 'не очень', 'нормально', 'хорошо', 'отлично'],
											scoreName: 'rating_133',
											halfShow: true,
											click: function(score, evt) {
												$.post(
													'/catalog/',
													{
														rating: score,
														id: 133,
														mode: 'rate'
													},
													function(e) {
															$('#ratingText_133').text("Оценка: "+e);
															$('#rating_133').raty('start', e); 
															$('#rating_133').raty('readOnly', true);
													}
												);														
											}  
										});
									});
								
							</script>							
							
								<a href="#" data-id="133" class="toBasket button-price">3 590 <span>i</span></a>
							
							
						
					</div><!--
					
					--><div class="item">						
							<p class="name"><a href="/catalog/383/_aview_b131/">Shturmann® Play500BT</a></p>
							<div class="image">
									
									
									
									
								
							</div>
							
							<div class="tools">								
								<div class="rating">
									<div id="rating_131"></div>
									<p id="ratingText_131">5 баллов (1 оценка)</p>
								</div>

								
								
								<a href="#" class="compare" data-id="131"></a>
								
							</div>

							<script type="text/javascript">
								
									$(document).ready(function() {
										$('#rating_131').raty({														
											start: 5,
											width: 120,
											path: '/scripts/jquery.raty/img',											
											hintList:    ['плохо', 'не очень', 'нормально', 'хорошо', 'отлично'],
											scoreName: 'rating_131',
											halfShow: true,
											click: function(score, evt) {
												$.post(
													'/catalog/',
													{
														rating: score,
														id: 131,
														mode: 'rate'
													},
													function(e) {
															$('#ratingText_131').text("Оценка: "+e);
															$('#rating_131').raty('start', e); 
															$('#rating_131').raty('readOnly', true);
													}
												);														
											}  
										});
									});
								
							</script>							
							
								<a href="#" data-id="131" class="toBasket button-price">3 990 <span>i</span></a>
							
							
						
					</div><!--
					
					--><div class="item">						
							<p class="name"><a href="/catalog/383/_aview_b128/">Shturmann® Link510 WiFi</a></p>
							<div class="image">
									
									
									
									
								
							</div>
							
							<div class="tools">								
								<div class="rating">
									<div id="rating_128"></div>
									<p id="ratingText_128">0 баллов (0 оценок)</p>
								</div>

								
								
								<a href="#" class="compare" data-id="128"></a>
								
							</div>

							<script type="text/javascript">
								
									$(document).ready(function() {
										$('#rating_128').raty({														
											start: 0,
											width: 120,
											path: '/scripts/jquery.raty/img',											
											hintList:    ['плохо', 'не очень', 'нормально', 'хорошо', 'отлично'],
											scoreName: 'rating_128',
											halfShow: true,
											click: function(score, evt) {
												$.post(
													'/catalog/',
													{
														rating: score,
														id: 128,
														mode: 'rate'
													},
													function(e) {
															$('#ratingText_128').text("Оценка: "+e);
															$('#rating_128').raty('start', e); 
															$('#rating_128').raty('readOnly', true);
													}
												);														
											}  
										});
									});
								
							</script>							
							
								<a href="#" data-id="128" class="toBasket button-price">6 990 <span>i</span></a>
							
							
						
					</div><!--
					
					--><div class="item">						
							<p class="name"><a href="/catalog/384/_aview_b135/">Shturmann® Vision 500HD</a></p>
							<div class="image">
									
									
									
									
								
							</div>
							
							<div class="tools">								
								<div class="rating">
									<div id="rating_135"></div>
									<p id="ratingText_135">4 балла (1 оценка)</p>
								</div>

								
								
								<a href="#" class="compare" data-id="135"></a>
								
							</div>

							<script type="text/javascript">
								
									$(document).ready(function() {
										$('#rating_135').raty({														
											start: 4,
											width: 120,
											path: '/scripts/jquery.raty/img',											
											hintList:    ['плохо', 'не очень', 'нормально', 'хорошо', 'отлично'],
											scoreName: 'rating_135',
											halfShow: true,
											click: function(score, evt) {
												$.post(
													'/catalog/',
													{
														rating: score,
														id: 135,
														mode: 'rate'
													},
													function(e) {
															$('#ratingText_135').text("Оценка: "+e);
															$('#rating_135').raty('start', e); 
															$('#rating_135').raty('readOnly', true);
													}
												);														
											}  
										});
									});
								
							</script>							
							
								<a href="#" data-id="135" class="toBasket button-price">5 990 <span>i</span></a>
							
							
						
					</div><!--
					
					--><div class="item">						
							<p class="name"><a href="/catalog/384/_aview_b137/">Shturmann® Vision 400HD</a></p>
							<div class="image">
									
									
									
									
								
							</div>
							
							<div class="tools">								
								<div class="rating">
									<div id="rating_137"></div>
									<p id="ratingText_137">0 баллов (0 оценок)</p>
								</div>

								
								
								<a href="#" class="compare" data-id="137"></a>
								
							</div>

							<script type="text/javascript">
								
									$(document).ready(function() {
										$('#rating_137').raty({														
											start: 0,
											width: 120,
											path: '/scripts/jquery.raty/img',											
											hintList:    ['плохо', 'не очень', 'нормально', 'хорошо', 'отлично'],
											scoreName: 'rating_137',
											halfShow: true,
											click: function(score, evt) {
												$.post(
													'/catalog/',
													{
														rating: score,
														id: 137,
														mode: 'rate'
													},
													function(e) {
															$('#ratingText_137').text("Оценка: "+e);
															$('#rating_137').raty('start', e); 
															$('#rating_137').raty('readOnly', true);
													}
												);														
											}  
										});
									});
								
							</script>							
							
								<a href="#" data-id="137" class="toBasket button-price">3 990 <span>i</span></a>
							
							
						
					</div><!--
					
					--><div class="item">						
							<p class="name"><a href="/catalog/384/_aview_b138/">Shturmann® Vision 300HD</a></p>
							<div class="image">
									
									
									
									
								
							</div>
							
							<div class="tools">								
								<div class="rating">
									<div id="rating_138"></div>
									<p id="ratingText_138">0 баллов (0 оценок)</p>
								</div>

								
								
								<a href="#" class="compare" data-id="138"></a>
								
							</div>

							<script type="text/javascript">
								
									$(document).ready(function() {
										$('#rating_138').raty({														
											start: 0,
											width: 120,
											path: '/scripts/jquery.raty/img',											
											hintList:    ['плохо', 'не очень', 'нормально', 'хорошо', 'отлично'],
											scoreName: 'rating_138',
											halfShow: true,
											click: function(score, evt) {
												$.post(
													'/catalog/',
													{
														rating: score,
														id: 138,
														mode: 'rate'
													},
													function(e) {
															$('#ratingText_138').text("Оценка: "+e);
															$('#rating_138').raty('start', e); 
															$('#rating_138').raty('readOnly', true);
													}
												);														
											}  
										});
									});
								
							</script>							
							
								<a href="#" data-id="138" class="toBasket button-price">2 990 <span>i</span></a>
							
							
						
					</div><!--
					
					--><div class="item">						
							<p class="name"><a href="/catalog/382/_aview_b145/">АвтоФон S-маяк</a></p>
							<div class="image">
									
									<img class="action" src="/img/hit-label.png" alt="">
									
									
								
							</div>
							
							<div class="tools">								
								<div class="rating">
									<div id="rating_145"></div>
									<p id="ratingText_145">5 баллов (1 оценка)</p>
								</div>

								
								
								<a href="#" class="compare" data-id="145"></a>
								
							</div>

							<script type="text/javascript">
								
									$(document).ready(function() {
										$('#rating_145').raty({														
											start: 5,
											width: 120,
											path: '/scripts/jquery.raty/img',											
											hintList:    ['плохо', 'не очень', 'нормально', 'хорошо', 'отлично'],
											scoreName: 'rating_145',
											halfShow: true,
											click: function(score, evt) {
												$.post(
													'/catalog/',
													{
														rating: score,
														id: 145,
														mode: 'rate'
													},
													function(e) {
															$('#ratingText_145').text("Оценка: "+e);
															$('#rating_145').raty('start', e); 
															$('#rating_145').raty('readOnly', true);
													}
												);														
											}  
										});
									});
								
							</script>							
							
								<a href="#" data-id="145" class="toBasket button-price action">5 950 <span>i</span></a>
							
							
						
					</div>
					

			<div class="toCatalog"><a href="/catalog/">Каталог товаров &rarr;</a></div>

			</div>
			</div>
			<!--/CATALOG-->
		
