
<div class="slider-wrap-wrapper">
<div class="slider-wrapper">
<div id="sliderU">
<div class="ls-layer" rel="slidedelay: 3000;">
<img class="ls-s2" src="/files/0/13038551344852479.gif" alt="sublayer" style="delayin: 700; easingin: easeOutExpo">
<p class="small">Возвращает угнанный автомобиль</p>
<p class="link"><a href="catalog/382/_aview_b145/">АвтоФон S-маяк</a></p>
<ul class="ul" rel="slidedirection: left;">
<li>Определяет точное местоположение автомобиля, людей, имущества</li>
<li>Не боится "глушилок"</li>
<li>Длительность автономной работы до 2-х лет</li>
</ul>
</div>
</div>
</div>
</div>
