
<p class="name">Новости</p>
<div class="item">
<p class="date">15 августа 2012</p>
<p class="name">Мы открылись!</p>
<div class="desc">
Рады приветствовать Вас в нашем интернет-магазине
</div>
<p class="all"><a href="/news/_aview_b15/">Читать полностью</a> &rarr;</p>
</div>
<div class="item">
<p class="date">15 августа 2012</p>
<p class="name">Мы открылись!</p>
<div class="desc">
Рады приветствовать Вас в нашем интернет-магазине
</div>
<p class="all"><a href="/news/_aview_b19/">Читать полностью</a> &rarr;</p>
</div>
<div class="item">
<p class="date">15 августа 2012</p>
<p class="name">Мы открылись!</p>
<div class="desc">
Рады приветствовать Вас в нашем интернет-магазине
</div>
<p class="all"><a href="/news/_aview_b20/">Читать полностью</a> &rarr;</p>
</div>
<div class="toNews"><a href="/news/">Все новости &rarr;</a></div>
