{reduce:nothing}
{mask:main}
<!DOCTYPE html>
<html lang="ru">
<head>

	<title>Система администрирования сайта {sitename}</title>
	
	<meta charset="utf-8">	
	<link rel="stylesheet" href="/admin/decor/{theme}/css/styles.css">
	<link rel="stylesheet" href="/admin/decor/{theme}/css/calendar.css">
	<link rel="stylesheet" href="/admin/decor/bootstrap/css/bootstrap.css">
	
	<!--admin scripts AND TinyMce-->
	<script src="/admin/scripts/jquery-1.6.2.min.js"></script>	
	<script src="/admin/scripts/adminNew.js"></script>
	<script src="/admin/tinymce/js/tinymce/tinymce.min.js"></script>
	
</head>

<body>
	
	<!--MAIN-->
	<div class="main">
	
		
		<!--MENU-->
		<div class="menu">
			<div class="logo"><img src="/admin/decor/{theme}/img/logo.png" alt=""></div>
			{menu}
		</div>
		<!--/MENU-->

		<!--CONTENT-->
		<div class="content">
			<h1>Добавление типа данных</h1>
			
			<form action="/manage/admindatatypes/_aadd" method="post" enctype="multipart/form-data" name="form1">			
				
				<div class="block">
					<h2>Основные параметры</h2>
						
					<div class="stroke">
						<div class="name">
							<p>Название</p>						
						</div>
						<div class="value">							
							<input type="text" class="text" name="name" value=""/>
						</div>
					</div>
			
					<div class="stroke">
						<div class="name">
							<p>Ключ</p>						
						</div>
						<div class="value">							
							<input type="text" class="text" name="key" value=""/>
						</div>
					</div>				
				</div>
				
				
			
				<div class="buttons">				
					<input type="submit" class="btn btn-success" name="add" value="Сохранить">				
					<input type="button" class="btn btn-danger" value="Отмена" onclick="javascript:location.href='/manage/admindatatypes/'; return false;">				
				</div>
			
			</form>
		</div>
		<!--/CONTENT-->									
									
	</div>
	<!--/MAIN-->						




</body>
</html>		
{/mask}