{reduce:nothing}
{mask:main}
	<div class="subheader-wrapper tours">
		<div class="subheader clearline container">
			<div class="tour-filters">
				<h1>{name}</h1>
				<div class="filters">
					<div class="stroke clearline">
						<div class="item">
							<p class="placeholder">Активность</p>
							<select class="big-select" data-placeholder="Выберите значение">
								<option></option>
								<option value="1">Екатеринбург</option>
								<option value="2">Москва</option>
								<option value="3">Санкт Петербург</option>
								<option value="4">Вологда</option>
							</select>
						</div>

						<div class="item">
							<p class="placeholder">Протяженность, км</p>
							<input type="text" name="priceTour" value="10000;200000" class="range-slider">
						</div>

						<div class="item"></div>
					</div>

					<div class="stroke clearline">
						<div class="item">
							<p class="placeholder">Нагрузка</p>
							<select class="big-select" data-placeholder="Выберите значение">
								<option value="1">1 *</option>
								<option value="2">2 *</option>
								<option value="3">3 *</option>
								<option value="4">4 *</option>
								<option value="5" selected>5 *</option>
							</select>
						</div>

						<div class="item">
							<p class="placeholder">Сжигаемые калории</p>
							<input type="text" id="priceTour" name="priceTour" value="10000;200000" class="range-slider">
						</div>

						<div class="item"></div>

					</div>

					<div class="stroke clearline">
						<div class="item">
							<p class="placeholder">Кол-во дней</p>
							<select class="big-select"  data-placeholder="Выберите значение">
								<option value="1">1 *</option>
								<option value="2">2 *</option>
								<option value="3">3 *</option>
								<option value="4">4 *</option>
								<option value="5" selected>5 *</option>
							</select>
						</div>
						<div class="item">
							<button class="std-button green-button block-button">Подобрать тур</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tours-page container clearline">
		<div class="list">
			{mask:item}
			{if:!{_first}}-->{/if}<a href="{url}" class="item-wrapper">
				<div class="item exc">
					<div class="image">
						{mask:mainimage}{if:{_first}}
						<img src="/files/1/{image}" alt="{php}htmlspecialchars({../name}){/php}">
						{/if}{/mask}
					</div>
					<div class="info">
						<div class="name">
							<p class="name-s">{name}</p>
							<div class="values">
								<p class="valuer"><b>Протяженность, км</b>: {length}</p>
								<p class="valuer"><b>Длительность, ч</b>: {duration}</p>
								<p class="valuer"><b>Нагрузка</b>: {charge_sel}</p>
								<p class="valuer"><b>Калории</b>: {calories}</p>
							</div>
							<div class="graphic-path">
								{mask:activity}
									{if:{name}=="Велосипедный маршрут"}<i class="icon-e icon-velo tooltip" title="Велосипедный маршрут"></i>{/if}
									{if:{name}=="Кросс-маршрут"}<i class="icon-e icon-cross tooltip" title="Кросс-маршрут"></i>{/if}
									{if:{name}=="Скандинавская ходьба"}<i class="icon-e icon-walk tooltip" title="Скандинавская ходьба"></i>{/if}
									{if:{name}=="Серфинг"}<i class="icon-e icon-serf tooltip" title="Серфинг"></i>{/if}
									{if:{name}=="Лыжный маршрут"}<i class="icon-e icon-ski tooltip" title="Лыжный маршрут"></i>{/if}
								{/mask}

							</div>
						</div>
						<div class="prices clearline">
							<div class="column">
								<p class="price">{fullprice} Р</p>
								<p class="tip">Общая стоимость</p>
							</div>
							<div class="column">
								<p class="price">{agentprice} Р</p>
								<p class="tip">К оплате</p>
							</div>
						</div>
						<div class="agent-price">
							<p class="price">{difference} Р</p>
							<p class="tip">Комиссия агента</p>
						</div>
						<div class="compare">
							<span href="#">Добавить к сравнению</span>
						</div>
					</div>
				</div>
			</a>{if:!{_last}}<!--{/if}
			{/mask}

			<!-- -->

		</div>

		<!--MORE-->
		<div class="more">
			<a href="#">Показать еще</a>
		</div>
		<!--/MORE-->



	</div>
{/mask}