
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Система администрирования сайта Сайт</title>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />	
	<link rel="stylesheet" type="text/css" href="/admin/decor/modern/css/styles.css" />	
	<link rel="stylesheet" type="text/css" href="/admin/decor/bootstrap/css/bootstrap.css" />

	<script type="text/javascript" src="/admin/scripts/jquery-1.6.2.min.js"></script>	
	<script type="text/javascript" src="/admin/scripts/jquery.jscontext-1.0.js"></script>
	<script type="text/javascript" src="/admin/scripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="/admin/scripts/adminNew.js"></script>
	<script type="text/javascript" src="/admin/scripts/decor.js"></script>

	
	
</head>

<body>
	
	<!--MAIN-->
	<div class="main">	
		
		<!--MENU-->
		<div class="menu">
			<div class="logo"><img src="/admin/decor/modern/img/logo.png"  alt=""></div>
			
<ul>
<li><a href="/manage"><i class="icon-list-alt icon-white"></i>&nbsp;Структура папок</a></li>
<li><a href="/manage/cattemplate/"><i class="icon-folder-open icon-white"></i>&nbsp;Шаблоны папок</a></li>
<li><a href="/manage/blocktemplate/"><i class="icon-file icon-white"></i>&nbsp;Шаблоны блоков</a></li>
<li><a href="/manage/admindatatypes/"><i class="icon-briefcase icon-white"></i>&nbsp;Типы данных</a></li>
<li><a href="/manage/users/"><i class="icon-user icon-white"></i>&nbsp;Пользователи</a></li>
<li><a href="/manage?logout=1" onClick="javascript:return confirm('Завершить сеанс администрирования?');">Выход</a></li>
<!-- Раскомментировать и скорректировать при наличии языковых версий -->
<!-- <li class="breakline"></li>
<li class="lang">
<p>Язык:</p>
<p>
<a href="#" data-id="ru" class="lang-change">ru</a>
<a href="#" data-id="cz" class="lang-change">cz</a>
<a href="#" data-id="en" class="lang-change">en</a>
<a href="#" data-id="de" class="lang-change">de</a>
</p>
</li> -->
</ul>

		</div>
		<!--/MENU-->	
		
		<!--CONTENT-->
		<div class="content">
			<h1>Структура сайта</h1>
			<input type="hidden" id="hide-parent" name="hide-parent" value="0"/>
			<table  width="100%" id="tree" class="itemtree">				
			
					
					<tr style="cursor:hand" id="tr0">
					
			
					
			
						<td class="simpletd"><i class="icon-home"></i></td>
						<td colspan="100">Корень сайта</td>					
			
					</tr>
			
					
	
	<tr class="trtree trtree-click" style="cursor: pointer;" id="tr1">		
		
			<td class="last">
				
				
			</td>
				
		<td class="icon hassub"></td>			
		
		
			<td colspan="99">
				<b>Главная страница</b>
				
				
					
					
						(<a href="/" target="_blank" class="ext"><i class="icon-share-alt"></i>Главная</a>)
					
								
				- first - 1
			</td>
		
		
		<td>
			
			<input type="hidden" id="candel_1" name="candel_1" value=""/>			
			<input type="hidden" id="canedit_1" name="canedit_1" value=""/>
			<input type="hidden" id="canaddcat_1" name="canaddcat_1" value=""/>
			<input type="hidden" id="canaddbl_1" name="canaddbl_1" value=""/>
			<input type="hidden" id="canmoveto_1" name="canmoveto_1" value=""/>
			<input type="hidden" id="cancopyto_1" name="cancopyto_1" value=""/>
			<input type="hidden" id="canhide_1" name="canhide_1" value=""/>
			
		</td>
	</tr>
	
			
		
	
	<tr class="trtree trtree-click" style="cursor: pointer;" id="tr11">		
		
			<td class="none">
				
				
			</td>
		
			<td class="simple">
				
				
			</td>
				
		<td class="icon"></td>			
		
		
			<td colspan="98">
				
				О компании
				
					
						(<a href="/11/" target="_blank" class="ext"><i class="icon-share-alt"></i></a>)
					
					
								
				- typo - 11
			</td>
		
		
		<td>
			
			<input type="hidden" id="candel_11" name="candel_11" value=""/>			
			<input type="hidden" id="canedit_11" name="canedit_11" value=""/>
			<input type="hidden" id="canaddcat_11" name="canaddcat_11" value=""/>
			<input type="hidden" id="canaddbl_11" name="canaddbl_11" value=""/>
			<input type="hidden" id="canmoveto_11" name="canmoveto_11" value=""/>
			<input type="hidden" id="cancopyto_11" name="cancopyto_11" value=""/>
			<input type="hidden" id="canhide_11" name="canhide_11" value=""/>
			
		</td>
	</tr>
	
	
	
	


	
	<tr class="trtree trtree-click" style="cursor: pointer;" id="tr14">		
		
			<td class="none">
				
				
			</td>
		
			<td class="simple">
				
				
			</td>
				
		<td class="icon hidden"></td>			
		
		
			<td colspan="98" class="hiddentext">
				
				Обратная связь
								
				- os - 14
			</td>
		
		
		<td>
			
			<input type="hidden" id="candel_14" name="candel_14" value=""/>			
			<input type="hidden" id="canedit_14" name="canedit_14" value=""/>
			<input type="hidden" id="canaddcat_14" name="canaddcat_14" value=""/>
			<input type="hidden" id="canaddbl_14" name="canaddbl_14" value=""/>
			<input type="hidden" id="canmoveto_14" name="canmoveto_14" value=""/>
			<input type="hidden" id="cancopyto_14" name="cancopyto_14" value=""/>
			<input type="hidden" id="canhide_14" name="canhide_14" value=""/>
			
		</td>
	</tr>
	
	
	
	


	
	<tr class="trtree trtree-click" style="cursor: pointer;" id="tr12">		
		
			<td class="none">
				
				
			</td>
		
			<td class="simple">
				
				
			</td>
				
		<td class="icon hidden"></td>			
		
		
			<td colspan="98" class="hiddentext">
				
				Настройки сайта
								
				- settings - 12
			</td>
		
		
		<td>
			
			<input type="hidden" id="candel_12" name="candel_12" value=""/>			
			<input type="hidden" id="canedit_12" name="canedit_12" value=""/>
			<input type="hidden" id="canaddcat_12" name="canaddcat_12" value=""/>
			<input type="hidden" id="canaddbl_12" name="canaddbl_12" value=""/>
			<input type="hidden" id="canmoveto_12" name="canmoveto_12" value=""/>
			<input type="hidden" id="cancopyto_12" name="cancopyto_12" value=""/>
			<input type="hidden" id="canhide_12" name="canhide_12" value=""/>
			
		</td>
	</tr>
	
	
	
	


	
	<tr class="trtree trtree-click" style="cursor: pointer;" id="tr13">		
		
			<td class="none">
				
				
			</td>
		
			<td class="simple">
				
				
			</td>
				
		<td class="icon hidden"></td>			
		
		
			<td colspan="98" class="hiddentext">
				
				Ошибка 404
								
				- e404 - 13
			</td>
		
		
		<td>
			
			<input type="hidden" id="candel_13" name="candel_13" value=""/>			
			<input type="hidden" id="canedit_13" name="canedit_13" value=""/>
			<input type="hidden" id="canaddcat_13" name="canaddcat_13" value=""/>
			<input type="hidden" id="canaddbl_13" name="canaddbl_13" value=""/>
			<input type="hidden" id="canmoveto_13" name="canmoveto_13" value=""/>
			<input type="hidden" id="cancopyto_13" name="cancopyto_13" value=""/>
			<input type="hidden" id="canhide_13" name="canhide_13" value=""/>
			
		</td>
	</tr>
	
	
	
	


	
	<tr class="trtree trtree-click" style="cursor: pointer;" id="tr2">		
		
			<td class="none">
				
				
			</td>
		
			<td class="last">
				<a href="#" id="openclose_2" class="plus"></div>
				
			</td>
				
		<td class="icon hassub hidden"></td>			
		
		
			<td colspan="98" class="hiddentext">
				<b>Админка</b>
				
								
				- manage - 2
			</td>
		
		
		<td>
			
			<input type="hidden" id="candel_2" name="candel_2" value=""/>			
			<input type="hidden" id="canedit_2" name="canedit_2" value=""/>
			<input type="hidden" id="canaddcat_2" name="canaddcat_2" value=""/>
			<input type="hidden" id="canaddbl_2" name="canaddbl_2" value=""/>
			<input type="hidden" id="canmoveto_2" name="canmoveto_2" value=""/>
			<input type="hidden" id="cancopyto_2" name="cancopyto_2" value=""/>
			<input type="hidden" id="canhide_2" name="canhide_2" value=""/>
			
		</td>
	</tr>
	
	


	
	
	


					
				
			</table>
		</div>
		<!--/CONTENT-->
		
		<!--POPUP-->
		<div class="popup-index" id="popup-index">
			<div class="popup-index">
				<div class="top"><h1>Действие</h1></div>
				<ul>
					<li><a href="#" rel="1" class="aAdd" id="aAdd" onclick="addCat(this); return false;"><i class="icon-plus-sign"></i>&nbsp;Создать новую</a></li>

					<li><a href="#" rel="1" class="aEdit" id="aEdit" onclick="editCat(this); return false;"><i class="icon-pencil"></i>&nbsp;Редактировать</a></li>

					<li><a href="#" rel="1" class="aEditbl" id="aEditbl" onclick="blockList(this); return false;"><i class="icon-th"></i>&nbsp;Блоки</a></li>

					<li><a href="#" rel="1" class="aMove" id="aMove" onclick="moveCat(this); return false;"><i class="icon-move"></i>&nbsp;Переместить</a></li>					

					<li><a href="#" rel="1" class="aCopy" id="aCopy" onclick="copyCat(this); return false;"><i class="icon-edit"></i>&nbsp;Копировать</a></li>

					<li><a href="#" rel="1" class="aHide" id="aHide" onclick="showHideCat(this); return false;"><i class="icon-eye-close"></i>&nbsp;Скрыть/показать</a></li>

					<li id="a"><a href="#" rel="1" class="aDel" id="aDel" onclick="delCat(this); return false;"><i class="icon-trash"></i>&nbsp;Удалить</a></li>
				</ul>
			</div>
		</div>
		<!--/POPUP-->		
		
		<script type="text/javascript">
			
			$(".trtree-click").jscontext({
				html: $("#popup-index").html(),				
				closeOnMouseLeave : true,
				open : function() {
					$("#hide-parent").val(this.substr(2));
					
					
					
				}

			});

			$(".trtree-no").jscontext({			
				

			});

			$(".plus").click(function() {
				var id = $(this).attr("id").substr(10);
				$.cookie("hs_"+id, 1);
				window.location.href = '/manage';
				return false;
			});

			$(".minus").click(function() {
				var id = $(this).attr("id").substr(10);
				$.cookie("hs_"+id, 0);
				window.location.href = '/manage';
				return false;
			});
			
			
		
	
		</script>
	
		

	
									
									
	</div>
	<!--/MAIN-->						




</body>
</html>		
