{reduce:nothing}
{mask:main}

	<div class="filters">
		<form action="{excUrl}" method="get">
			<div class="stroke clearline">
				<div class="item">
					<p class="placeholder">Активность</p>
					<select class="big-select" name="activity" data-placeholder="Выберите значение">
						<option value="">Выберите значение</option>
						{mask:activity}
						<option value="{_index}"{if:{selected}} selected{/if}>{name}</option>
						{/mask}
					</select>
				</div>

				<div class="item">
					<p class="placeholder">Протяженность, км</p>
					<input type="text" name="length" data-from="{fromlength}" data-to="{tolength}" value="{minlength};{maxlength}" class="range-slider">
				</div>

				<div class="item">
					<p class="placeholder">Продолжительность, ч</p>
					<input type="text" name="duration" data-from="{fromduration}" data-to="{toduration}" value="{minduration};{maxduration}" class="range-slider">
				</div>
			</div>

			<div class="stroke clearline">
				<div class="item">
					<p class="placeholder">Нагрузка</p>
					<select class="big-select" name="charge" data-placeholder="Выберите значение">
						<option value=""{if:!{charge_sel}} selected{/if}>Любая</option>
						<option value="Низкая"{if:{charge_sel}=="Низкая"} selected{/if}>Низкая</option>
						<option value="Средняя"{if:{charge_sel}=="Средняя"} selected{/if}>Средняя</option>
						<option value="Высокая"{if:{charge_sel}=="Высокая"} selected{/if}>Высокая</option>
					</select>
				</div>

				<div class="item">
					<p class="placeholder">Сжигаемые калории</p>
					<input type="text" name="calories" data-from="{fromcalories}" data-to="{tocalories}" value="{mincalories};{maxcalories}" class="range-slider">
				</div>

				<div class="item"></div>

			</div>

			<div class="stroke clearline">
				<div class="item">
					<p class="placeholder">Стоимость</p>
					<input type="text" name="price" data-from="{fromprice}" data-to="{toprice}" value="{minprice};{maxprice}" id="priceTour">
				</div>
				<div class="item">
					<button class="std-button green-button block-button">Подобрать тур</button>
				</div>
			</div>
		</form>
	</div>

{/mask}