{reduce:nothing}
{mask:main}
{script}
	<div class="popup-block simple-popup-block hidden-element" id="call-form">
		<button class="popup-close popup-close-top"></button>

		<!--FORM-->
		<form name="formCall" id="formCall" rel="formCall" method="post" action="/os/">
			<div class="form">
				<p class="h">Перезвоните мне</p>

				<div class="input">
					<p class="placeholder">Представьтесь, пожалуйста</p>
					<input type="text" name="nameCall" id="nameCall" required placeholder="ФИО">
				</div>

				<div class="input">
					<p class="placeholder">Ваш номер телефона</p>
					<input type="text" name="phoneCall" id="phoneCall" required placeholder="Номер телефона">
				</div>


				<div class="send" id="sendCall">
					<button type="submit" class="std-button black-button">Отправить</button> <img src="/img/ajax-loader-black.gif" alt="..." id="preloaderCall" class="preloader">
				</div>

				<div class="errors" id="showErrorsCall"></div>
			</div>
		</form>
		<!--/FORM-->
	</div>


	<div class="popup-block simple-popup-block hidden-element" id="successSendCall">
		<button class="popup-close popup-close-top"></button>

		<p class="h">Сообщение отправлено</p>
		<div class="text">
			<p class="simple">В ближайшее время наши менеджеры перезвонят на указанный Вами телефон</p>
		</div>
		<div class="button-center">
			<button class="popup-close std-button black-button">Закрыть</button>
		</div>
	</div>
{/mask}