{reduce:nothing}
{mask:main}

		<script>
		{set:photo}

		{#
		$(function() {
			var $container = $('#photos');
			$container.masonry({
				columnWidth: 0,
				itemSelector: 'li'
			});
			$container.lightGallery({
				lang : { allPhotos: 'Все фото' },
				caption: true,
				speed: 400
			});
		});

		#}
		{/set}

		{set:tour}
		{#
		$(function() {

			moment.lang("ru");
			var lotsOfEvents = [
				#} {mask:tourdates} {#
				{ start: '#}{isodate}{#', end: '#}{endisodate}{#', title: '', classes: 'event-range' },
				#} {/mask} {#


				#} {mask:excdates} {#
				{ start: '#}{isodate}{#', end: '#}{isodate}{#', title: '#}{name}{#', classes: 'event-one' } #} {if:!{_last}},{/if} {#
				#} {/mask} {#
			];

			var myCalendar = $('#calendar').clndr({

				template: $("#clndr-template").html(),
				multiDayEvents: {
					startDate: 'start',
					endDate: 'end'
				},

				events: lotsOfEvents
			});

			$("#calendar").on("mouseover", $(".event-one"), function() {
				$(".event-one").tooltipster({
					theme: "tooltipster-light",
					position: "bottom-left"
				});
			});


			$("#tour-date").change(function() {
				var $t = $(this),
					sel = $t.find("option:selected")
					month = sel.attr("data-month"),
					year = sel.attr("data-year");

				myCalendar.setYear(year);
				myCalendar.setMonth(month-1);
			});
		});

		#}
		{/set}


		{set:exc}
		{#
		$(function() {
			$(".tooltip").tooltipster({
				theme: "tooltipster-light",
				position: "bottom-left"
			});

			moment.lang("ru");
			var lotsOfEvents = [
				#} {mask:excdates} {#
				{ start: '#}{isodate}{#', end: '#}{isodate}{#', title: '#}{name}{#', classes: 'event-one' } #} {if:!{_last}},{/if} {#
				#} {/mask} {#
			];

			var myCalendar = $('#calendar').clndr({

				template: $("#clndr-template").html(),
				multiDayEvents: {
					startDate: 'start',
					endDate: 'end'
				},

				events: lotsOfEvents
			});

			$("#calendar").on("mouseover", $(".event-one"), function() {
				$(".event-one").tooltipster({
					theme: "tooltipster-light",
					position: "bottom-left"
				});
			});


			$("#tour-date").change(function() {
				var $t = $(this),
					sel = $t.find("option:selected")
					month = sel.attr("data-month"),
					year = sel.attr("data-year");

				myCalendar.setYear(year);
				myCalendar.setMonth(month-1);
			});
		});

		#}
		{/set}

		{set:office}
		{#
		$(function() {

			var latlng,
				myOptions,
				map,
				marker;

			#}
			{mask:coords}
				latlng = new google.maps.LatLng({coords});
				myOptions = {#{
					zoom: 11,
					scrollwheel: false,
					center: latlng,
					disableDefaultUI: true,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				},
				#}
				map = new google.maps.Map(document.getElementById("map{_rank}"),myOptions),
				marker = new google.maps.Marker({#{
					position: latlng,
					map: map,
					title: ""
				});

			#}
			{/mask}
			{#

		});

		#}
		{/set}


		{set:dealer}
		{#
		$(function() {

			var latlng = new google.maps.LatLng(55.166319,48.81958);
				myOptions = {
					zoom: 5,
					scrollwheel: false,
					center: latlng,
					disableDefaultUI: true,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				},
				map = new google.maps.Map(document.getElementById("google-map"), myOptions),
				mark = [];

			#}
			{mask:coords}
				latlng = new google.maps.LatLng({coords});

				mark[{_rank}] = new google.maps.Marker({#{
					position: latlng,
					map: map,
					title: ""
				});

			#}
			{/mask}
			{#

			$(".pan-map").click(function() {
				var $t = $(this),
					coords = $t.attr("data-coords"),
					latlng;

				coords = coords.split(", ");
				latlng = new google.maps.LatLng(coords[0], coords[1]);

				map.panTo(latlng);
				map.setZoom(14);
				return false;
			});

			$(".dealers-box").overscroll({
				direction:"vertical",
				hoverThumbs: true,
				thumbColor: "#729944"
			});

		});

		#}
		{/set}


		</script>

{/mask}