{reduce:nothing}
{mask:main}
						<div class="checkbox checked" unselectable="on" onselectstart="return false;">&nbsp;</div><p id="checkbox" unselectable="on" onselectstart="return false;">Показывать аналоги</p>
							<form action="/search/" method="get" name="search-form">
								<input type="search" value="G 012 A8D A1" name="string" placeholder="Поиск запчастей"/>
								<input type="hidden" value="1" name="showSubstitutes" id="showSubstitutes"/>
								<button class="thoughtbot search-button">Поиск</button>
							</form>
{/mask}