{reduce:nothing}
{mask:main}
		<div class="tours-block container clearline">
			<div class="column">
				<p class="name" id="tourist">Туры</p>
				<p class="desc">Туры для активных путешественников всех возрастов с вылетами из разных городов России.</p>
				<a href="{toursUrl}" class="std-button white-button">Читать далее</a>
			</div>
			<div class="column">
				<p class="name">Экскурсии</p>
				<p class="desc">Большой выбор экскурсионных программ для активного отдыха.</p>
				<a href="{excUrl}" class="std-button white-button green-text">Читать далее</a>
			</div>
		</div>
{/mask}