@CHARSET "UTF-8";
/*reset css*/
* {margin: 0;padding: 0;
font-size: 12px; font-family: arial;  font-weight: normal;
background-repeat: no-repeat; background-position: 0 0; font: 12px tahoma;}

a {text-decoration: underline; color: #ff4200;}
a:hover {text-decoration: none;}
b {font-weight: bold;}
img {border: 0;}

td {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;}
.small {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size: 11px;}
h1 {font-size: 18px;color: #666666;font-weight: normal;	margin: 0px 0px 5px; padding: 0px;}
a.mnulnk {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
a.mnulnk2 {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11px;	font-weight: normal; color: buttontext;	text-decoration: none;}
a.t1 {font-weight: bold; color: #000000; text-decoration: none;}
a.t2 {color: #000000; text-decoration: none;}
a.t3 {color: #0066CC; font-size: 10px;}
.ssmall {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10px;}
.textarea {font-family: "Times New Roman", Times, serif; font-size: 16px;}
.input {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;}


body, html {height: 100%;}
body {background: url(/admin/decor/modern/img/background/bg.png) repeat 0 0;}


.main {margin: 0; min-width: 1000px; min-height: 100%; overflow: hidden; height: auto; background: url(../img/background/menu-background.png) repeat-y 0 0;}
.main.no-bg {background: none;}


/*menu*/
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		min-height: 100%;
		width: 160px;
		height: auto;
		float: left;
		margin: 0;
	}

	.menu .logo {width: 109px; margin: 15px auto;}


	.menu ul {list-style: none; width: 160px; margin: 0; padding: 0;}
	.menu ul li {list-style: none; float: left; padding: 0 20px; width: 120px;}
	.menu ul li.breakline {border-top: 1px solid white; height: 20px;}
	.menu ul li:hover {background: black;}
	.menu ul li.breakline:hover {background: none;}
	.menu ul li.lang:hover {background: none;}

	.menu ul li p {padding: 10px 0; color: #cccccc; font: 1em tahoma; text-decoration: none; display: block;}
	.menu ul li p a {padding: 0; color: #cccccc; font: 1em tahoma; text-decoration: none; display: inline;}
	.menu ul li.lang a.active {padding: 0; color: white; font: 1.1em tahoma; font-weight: bold;}
	.menu ul li a {padding: 10px 0; color: #cccccc; font: 1em tahoma; text-decoration: none; display: block;}
	.menu ul li a:hover {color: white;}

/*content*/
	.content {margin-left: 180px; margin-right: 20px; margin-bottom: 180px;}

/*popup-index*/
	#popup-index {display: none;}
	.popup-index {
		width: 160px;
		border: 1px solid #b6b0a0;
		background: white;

		-webkit-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 1);

		box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 1);
	}
	.popup-index .top {width: 160px; background: #cccccc; height: 25px;}
	.popup-index .top h1 {color: black; font-size: 13px; text-align: center; font-weight: bold; line-height: 22px;}
	.popup-index ul {list-style: none; margin: 0; padding: 0;}
	.popup-index ul li {list-style: none; }
	.popup-index ul li.disabled {}
	.popup-index ul li.disabled a {color: #cccccc;}
	.popup-index ul li.disabled a img {opacity: 0.3;}
	.popup-index ul li a {display: block; font-size: 12px; color: black; text-decoration: none; line-height: 15px; padding: 2px 0 2px 5px;}
	.popup-index ul li a:hover {background: #fadf75;}
	.popup-index ul li a img {margin-right: 4px;}



/*tree table*/
	.itemtree {border-collapse: collapse; border-spacing: 0;}
	tr.trtree {height: 20px;}
	tr.trtree.click {background: #cccccc;}
	tr.trtree:hover {background-color: rgba(100, 100, 100, .4);}

	tr.trtree td {padding: 2px;}

	.icon {width: 16px; height: 16px; background: url("/admin/decor/bootstrap/img/glyphicons-halflings.png") no-repeat 0 0; background-position: -384px -120px;}
	.icon.man {width: 16px; height: 16px; background: url("/admin/decor/img/ico-user.png") no-repeat 0 2px;}
	.hassub {width: 16px; height: 16px; background-position: -408px -120px;}


	.simpletd {width: 16px; height: 16px; padding: 2px;}

	.simple {width: 16px; height: 16px; background: url("/admin/decor/img/m1.png") no-repeat 0 0;}


		.plus {display: block; width: 9px; height: 9px; background: url("/admin/decor/standart/img/plus.png") no-repeat 0 0; margin: 1px 0 0 3px;}
		.minus {display: block; width: 9px; height: 9px; background: url("/admin/decor/standart/img/minus.png") no-repeat 0 0; margin: 1px 0 0 3px;}


	.last {width: 16px; height: 16px; background: url("/admin/decor/img/m2.gif") no-repeat 0 0;}
	.vertical {width: 16px; height: 16px; background: url("/admin/decor/img/m4.gif") repeat-y 0 0;}
	.none {width: 16px; height: 16px; background: none;}
	.hidden {opacity: 0.3;}
	.hiddentext {color: #656565;}

	tr.trtree td b {font: bold 1em Calibri;}
	tr.trtree td {font: 1em Calibri;}
	tr.trtree td strike {font: 1em Calibri;}
	tr.trtree td strong {font: bold 1em Calibri; color: red;}
	tr.trtree td .ext {font: 1em Calibri;}

#map_canvas {
	height: 500px;
	width: 800px;
}

/*standart window*/
	.block {border: 1px solid black; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-bottom: 35px; margin-top: 25px; padding: 30px 20px 20px 20px; position: relative;}
	.block h2 {
		background: white;
		color: white;
		font-weight: bold;
		padding: 5px;
		position: absolute;
		left: 15px;
		top: -23px;
		font: 1.2em tahoma;

		background: rgb(19,19,19); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(19,19,19,1) 0%, rgba(76,76,76,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, top center, bottom center, color-stop(0%,rgba(19,19,19,1)), color-stop(100%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(19,19,19,1) 0%,rgba(76,76,76,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 */
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.block .stroke {overflow: hidden; width: 100%; margin-bottom: 10px; padding: 3px 0;}
	.block .stroke .name {float: left; width: 120px;}
	.block .stroke .name p {color: black; font: bold 1.1em Calibri; margin: 0;}
	.block .stroke .value {margin-left: 130px; text-align: left;}
	.block .stroke .value input.text {width: 500px; height: 21px; padding: 0 5px;}
	.block .stroke .value input.focus {background: white;}
	.block .stroke .value textarea {width: 500px; height: 100px; padding: 5px; min-width: 500px; max-width: 800px; min-height: 100px;}
	.block .stroke .value select {width: 500px; height: 21px; padding: 0; padding-left: 5px;}
	.block .stroke .value .multiple {width: 300px; height: 200px;}
	.block .stroke .value .reset {width: 24px; height: 24px; background: url("/admin/decor/standart/img/icons/reset.png") no-repeat 0 0; border: 0; cursor: pointer;}

	.block .stroke .value ul.map {list-style: none;}
	.block .stroke .value ul.map li {padding-bottom: 4px;}
	.block .stroke .value ul.map li label {color: black; font: bold 1.1em Calibri;}
	.block .stroke .value ul.map li input {margin-left: 5px;}
	.block .stroke .value ul.map li ul {padding-left: 30px; list-style: circle; color: #00517a; margin-top: 10px;}
	.block .stroke .value ul.map li ul li {padding-bottom: 4px;}
	.block .stroke .value ul.map li ul li label {color: black; font: 1em Calibri;}

	.block .stroke .value .multi {width: 400px; height: 200px;}

	.block .block-chooser {margin-bottom: 20px;}
	.block .block-chooser p {font: 1.2em/1.8em Calibri;}
	.block .block-chooser span {font: 1.2em/1.8em Calibri;}
	.block .block-chooser optgroup.chbl {background: #f8e759; font: italic 1em Calibri;}
	.block .block-chooser optgroup.allbl {background: white; font: italic 1em Calibri;}
	.block .block-chooser optgroup.chbl option {padding-left: 20px; font: 1em Calibri;}
	.block .block-chooser optgroup.allbl option {padding-left: 20px; font: 1em Calibri;}
	.block p.empty {font: 1.2em/1.8em Calibri; color: red;}

	/*long left styles*/
	.block.longleft .name {width: 220px;}
	.block.longleft .value {margin-left: 240px;}

	#addFields table {background-color: #CDCDCD; border-collapse: separate; border-spacing: 1px;}
	#addFields table th {background-color: #a9a9a9;	border: 1px solid #FFF;	font-size: 8pt; padding: 4px;}
	#addFields table td {background-color: white; text-align: center; padding: 4px 0;}
	#addFields table td input {
		width: auto;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		margin: 0;
	}

	#addFields table td input[type="radio"],
	#addFields table td input[type="checkbox"] {
		margin: 0;
	}



	#addFields table td select {
		width: auto;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		padding: 0;
		height: 18px;
		margin: 0;
	}
	#addFields table td input.text {background: #feffee; border: 1px solid gray; height: 18px; padding: 0 2px; }
	#addFields table td input.small {width: 20px; background: #feffee; border: 1px solid gray; height: 18px; padding: 0 2px;}
	#addFields table .addtype {width: 200px;}

.buttons {height: 35px; margin: 50px auto;}


/*block table*/
	table.blocks {font-family: arial; background-color: #CDCDCD; margin:10px 0 15px; font-size: 8pt; text-align: left; border-collapse: separate; border-spacing: 1px;}

	table.blocks tbody tr td.none {width: 16px;}
	table.blocks tbody tr.click td {background-color: #cccccc;}
	/*table.blocks tbody tr:nth-child(even) td {background-color: #dbdcdd;}*/

	table.blocks tbody tr:hover td {background-color: #d0dfff;}

	table.blocks thead tr th { border: 1px solid #FFF; font-size: 8pt; padding: 4px; padding-right: 25px;}
	table.blocks thead tr .header {
		cursor: pointer;
		background-image: url(/admin/decor/modern/img/tablesorter/bg.gif);
		background-repeat: no-repeat;
		background-position: center right;

	}
	table.blocks tbody td {color: #3D3D3D; padding: 4px; background-color: #FFF; vertical-align: top; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
	table.blocks .inmove td {background-color: #858585;}
	table.blocks tr.trtree.inmove:hover {background: none;}
	table.blocks .inmove td:hover {background-color: #858585;}

	table.blocks tbody tr td.icon {padding: 2px;}
	table.blocks tbody tr td.hiddentext {color: #868686;}
	table.blocks thead tr .headerSortUp {background-image: url(/admin/decor/standart/img/tablesorter/asc.gif);}
	table.blocks thead tr .headerSortDown {background-image: url(/admin/decor/standart/img/tablesorter/desc.gif);}
	table.blocks thead tr .headerSortDown, table.blocks thead tr .headerSortUp {background-color: #8dbdd8;}

	table.blocks td div.new {}
	table.blocks td div.add {background-color: rgba(243, 249, 66, 0.4) !important;}
	table.blocks td div.success {background-color: rgba(122, 249, 66, 0.4) !important;}

/*auth page*/
	.auth-form {border-radius: 20px; -webkit-border-radius: 20px; background: white; padding: 30px;}
	.auth-form form {margin: 0;}



/*Basket module*/
	.module-basket .left-part {float: left; width: 600px;}
	.module-basket .left-part table.blocks tbody tr.act td {background-color: #cccccc;}
	.module-basket .right-part {margin-left: 600px;}
	.module-basket .right-part .goodsFor {}

.hidden-element {display: none;}
#image-cont {margin-bottom: 20px;}




/*IMAGELOAD styles*/
.grid li i{
	margin-left:2px;
	margin-right: 2px;
}
.box {
	text-align: center;
	word-wrap: break-word;
	background: white;
	vertical-align: top;
	text-align: left;
	position: relative;
	border: none;
	border-bottom: 1px solid #cccccc;
	box-shadow: none;
	min-height: 20px;
	z-index: 100;
	padding: 4px;
}

/* GRID */
.grid {
	padding: 10px;
	margin: 0 auto;
	list-style: none;
	-webkit-overflow-scrolling: touch;
}

.grid li {
	display: inline-block;
	width: 128px;
	margin: 5px;
	padding: 2px;
	vertical-align: top;
}

.grid figure {
	margin: 0;
	position: relative;
	display: block;
	width: 122px;
	margin: auto;
}

.grid figure .box {
	max-width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}


.grid h4{
	font-size:11px; font-weight:normal; margin: 0px; text-align: center; padding: 0px; margin-top:6px; line-height: 18px;
}

