
<div class="left">
<div class="phone-block">
<p class="name">Наши телефоны:</p>
<p class="phone"><span>+7 (343)</span> 287-33-07</p>
<p class="phone" style="margin-top: 2px;">E-mail: <a href="mailto:info@ucmarket.ru">info@ucmarket.ru</a></p>
</div>
<a href="#" class="os-button openform">Обратная связь</a>
</div>
<div class="footer-menu">
<ul>
<li><a href="/">Главная</a></li>
<li class="act">
<span>О компании</span>
</li>
<li>
<a href="/catalog/">Каталог</a>
</li>
<li>
<a href="/delivery/">Доставка и оплата</a>
</li>
<li>
<a href="/install/">Установка и сервис</a>
</li>
<li>
<a href="/contacts/">Контакты</a>
</li>
<li>
<a href="/news/">Новости</a>
</li>
</ul>
</div>
<p class="link"><a href="http://elgrow.ru/">Создание сайтов</a> и <a href="http://elgrow.ru/price/prodvizhenie-saitov/">продвижение сайтов</a> &mdash; "Elgrow", 2012</p>
<p class="dev"><a target="_blank" href="http://elgrow.ru"><img src="/img/elgrow.png" alt="elgrow"/></a></p>
