{reduce:nothing}
{mask:main}
<!DOCTYPE html>
<html lang="ru">
<head>

	<title>Система администрирования сайта {sitename}</title>
	
	<meta charset="utf-8">	
	<link rel="stylesheet" href="/admin/decor/{theme}/css/styles.css">
	<link rel="stylesheet" href="/admin/decor/bootstrap/css/bootstrap.css">

	<!--admin scripts AND TinyMce-->
	<script src="/admin/scripts/jquery-1.6.2.min.js"></script>	
	<script src="/admin/scripts/adminNew.js"></script>
	<script src="/admin/tinymce/js/tinymce/tinymce.min.js"></script>

	<!--right click-->
	<script src="/admin/scripts/jquery.jscontext-1.0.js"></script>

	
	
</head>

<body>
	
	<!--MAIN-->
	<div class="main">
	
		
		<!--MENU-->
		<div class="menu">
			<div class="logo"><img src="/admin/decor/{theme}/img/logo.png" alt=""></div>
			{menu}
		</div>
		<!--/MENU-->	
		
		<!--CONTENT-->
		<div class="content">
			<h1>Шаблоны папок</h1>
			<input type="hidden" id="hide-parent" name="hide-parent" value="0"/>
			<table  width="100%" id="tree" class="itemtree">
				{mask:tpl}
					<tr class="trtree trtree-click" style="cursor: pointer;" id="tr{id}">
						<td class="none"><i class="icon-file"></i></td>
						<td>{name} - ({key})
							{if:{canaddcat}==1 && {cattypes}==""} <strong>необходимо выбрать шаблоны папок</strong>{/if}
							{if:{canaddbl}==1 && {blocktypes}==""} <strong>необходимо выбрать шаблоны блоков</strong>{/if}
						</td>					
					</tr>
				{/mask}
			</table>
			
			
			<div class="buttons">				
				<input type="button" class="btn btn-primary" value="Добавить шаблон" onclick="javascript:location.href='/manage/cattemplate/_aadd/'; return false;">			
			</div>
		</div>
		<!--/CONTENT-->
		
		<!--POPUP-->
		<div class="popup-index" id="popup-index">
			<div class="popup-index">
				<div class="top"><h1>Действие</h1></div>
				<ul>
					<li><a href="#" class="aEdit" id="aEdit" onclick="editTpl(); return false;"><i class="icon-pencil"></i>&nbsp;Редактировать</a></li>

					<li><a href="#" class="aCopy" id="aCopy" onclick="copyTpl(); return false;"><i class="icon-edit"></i>&nbsp;Копировать</a></li>

					<li><a href="#"  class="aDel" id="aDel" onclick="delTpl(); return false;"><i class="icon-trash"></i>&nbsp;Удалить</a></li>
				</ul>
			</div>
		</div>
		<!--/POPUP-->		
		
		<script type="text/javascript">
		{#	
			$(".trtree-click").jscontext({
				html: $("#popup-index").html(),				
				closeOnMouseLeave : true,
				open : function() {
					$("#hide-parent").val(this.substr(2));					
				}
			});

			function editTpl() {
				var parent = $("#hide-parent").val();
				if (!parent) return false;
				window.location.href = '/manage/cattemplate/_aedit_parent'+parent;
			}

			function copyTpl() {
				var parent = $("#hide-parent").val();
				if (!parent) return false;
				window.location.href = '/manage/cattemplate/_acopy_parent'+parent;
			}

			function delTpl() {
				var parent = $("#hide-parent").val();
				if (!parent) return false;

				if (confirm('Вы действительно хотите удалить шаблон?')) {
					window.location.href = '/manage/cattemplate/_adel_id'+parent;
				}
				else {
					$(".trtree").removeClass("click");
				}				
			}
			
		#}
	
	</script>

	{set:error}
	<script type="text/javascript">		
		$(document).ready(function() {
			if ({error}==1) {
				alert("Удаление невозможно, так как этот шаблон используется");
			}			
			
			window.location.href = '/manage/cattemplate';
		});
	</script>
	{/set}
									
									
									
	</div>
	<!--/MAIN-->						




</body>
</html>		
{/mask}