{reduce:nothing}
{mask:main}
	

		<div class="name">
			<h1>Новости</h1>
		</div>

		<!--NEWS-->
		<div class="news">
	
				<div class="info">
					<p class="date">{date_2}</p>
					<p class="name">{name}</p>
					<div class="info-box">
						{text}
					</div>

					<div class="share2">
						<!--share//-->
					</div>
				</div>

				<div class="left">
					{if:{photo} != ""}
					<img src="/files/2/{photo}" alt="">
					{/if}
					
					{set:item}
					<div class="other-news">
						{mask:item}
						<div class="item">
							<p class="date">{date_2}</p>
							<p class="name">{name}</p>
							
							<p class="all"><a href="{url}">Читать полностью</a> &rarr;</p>
						</div>
						{/mask}						
					</div>
					{/set}
				</div>

				
				

		</div>
		<!--/NEWS-->
{/mask}			