{reduce:nothing}
{mask:main}
<!DOCTYPE html>
<html lang="ru">
<head>

	<title>{sitename} - *Редактирование пользователя*</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="/admin/decor/{theme}/css/styles.css">
	<link rel="stylesheet" href="/admin/decor/{theme}/bootstrap/css/bootstrap.css">
	<link rel="icon" type="image/png" href="/admin/decor/{theme}/img/favicon.png">

	<!--admin scripts AND TinyMce-->
	<script src="/admin/scripts/jquery-1.11.1.min.js"></script>
	<script src="/admin/scripts/adminNew.js"></script>
	<script src="/admin/tinymce/js/tinymce/tinymce.min.js"></script>

	<!--iCheck-->
	<link href="/admin/scripts/iCheck/skins/flat/blue.css" rel="stylesheet">
	<script src="/admin/scripts/iCheck/icheck.min.js"></script>

	<script>
		$(document).ready(function() {
			$(".ch").iCheck({
				checkboxClass: 'icheckbox_flat-blue',
				radioClass: 'iradio_flat-blue'
			});

			$(".rad").iCheck({
				checkboxClass: 'icheckbox_flat-blue',
				radioClass: 'iradio_flat-blue'
			})
			.on("ifToggled", function() {
				if ($(this).val() == 3) {
					$("#mapblock").show();
				}
				else {
					$("#mapblock").hide();
				}
			});
		});
	</script>



</head>

<body>

	<!--MAIN-->
	<div class="main">


		<!--MENU-->
		<div class="menu">
			<div class="logo"><img src="/admin/decor/{theme}/img/logo.png" alt=""></div>
			{menu}
		</div>
		<!--/MENU-->

		<!--CONTENT-->
		<div class="content">
			<h1>Редактирование пользователя</h1>

			<form action="/manage/users/_aedit/" method="post" enctype="multipart/form-data" name="form1" autocomplete="off">
				<input type="hidden" value="{parent}" name="parent">
				{mask:info}
				<div class="block">
					<h2>Основные параметры</h2>

					<div class="stroke clearline">
						<div class="name">
							<p>Ник (латиницей)</p>
						</div>
						<div class="value">
							<input type="text" class="text form-control" name="name" value="{admin_name}" disabled>
						</div>
					</div>

					<div class="stroke clearline">
						<div class="name">
							<p>Пароль</p>
						</div>
						<div class="value">
							<input type="password" class="text form-control" name="password" value="" required>
						</div>
					</div>

					<div class="stroke clearline">
						<div class="name">
							<p>Повторите пароль</p>
						</div>
						<div class="value">
							<input type="password" class="text form-control" name="passwordrep" value="" required>
						</div>
					</div>

				</div>

				<div class="block">
					<h2>Статус</h2>

					<div class="stroke clearline">
						<div class="name">
							<p>Статус</p>
						</div>
						<div class="value">
							{if:{status}>1}
								<p><input type="radio" class="rad" name="status" value="2"{if:{status}==2} checked{/if}> Администратор</p>
								<p><input type="radio" class="rad" name="status" value="3"{if:{status}==3} checked={/if}> Редактор</p>
							{/if}
							{if:{status}==1}
								<p>Суперадмин<input type="hidden" name="status" value="1"></p>
							{/if}
						</div>
					</div>
				</div>


				<div class="block" id="mapblock"{if:{status}<3} style="display: none;"{/if}>
				{/mask}
					<h2>Права редактора</h2>

					<div class="stroke clearline">
						<div class="name">
							<p>Права редактора</p>
						</div>
						<div class="value">
							<ul class="map">
								{item}
							</ul>
						</div>
					</div>
				</div>

				<div class="buttons">
					<input type="submit" class="btn btn-success" name="add" value="Сохранить">
					<input type="button" class="btn btn-danger" value="Отмена" onclick="javascript:location.href='/manage/users/'; return false;">
				</div>

			</form>
		</div>
		<!--/CONTENT-->


	</div>
	<!--/MAIN-->




</body>
</html>
{/mask}

{mask:item}
	<li>
		<label><input type="checkbox" class="ch" name="cat[]" value="{id}"{if:{canedit}==true} checked{/if}> {name}</label>
		{set:item}
			<ul>
				{item}
			</ul>
		{/set}
	</li>
{/mask}