{reduce:nothing}
{mask:main}
	<div class="subheader-wrapper tour">
		<div class="subheader clearline container">
			<div class="info">
				<h1>{name}</h1>
				<div class="text">
					{text}
				</div>
			</div>
		</div>
	</div>

	<div class="info-page container clearline">
		<div class="info-list" id="info-list">

			{mask:item}
			<div class="item item-{size}">
				{mask:image}{if:{_first}}
				<img src="/files/{../size}/{image}" alt="">
				{/if}{/mask}
				<div class="hover">
					<p class="name">{name}</p>
					<div class="text">
						{sdesc}
					</div>
				</div>
				<div class="hover-2">
					<a href="{url}" class="std-button white-button">Подробнее</a>
				</div>
			</div>
			{/mask}

		</div>

		<!--MORE-->
		<div class="more">
			{pages_down}
		</div>
		<!--/MORE-->

	</div>
{/mask}