{reduce:nothing}
{mask:main}
	<form action="/" method="post" name="filter-selects" class="filter-selects">

		<div class="catalog-only-top">

			<div class="catalog-only-top-inner">
				{navigation}
				
				<div class="catalog-only-name">
					<div class="name">
						<h1>{name}</h1>
					</div>
					<div class="info">
						<div class="total">
							<p>Всего {totalcount} в списке</p>
						</div>

						<input type="hidden" name="currentAddress" id="currentAddress" value="{currentAddress}"/>
						<input type="hidden" name="currentBrand" id="currentBrand" value="{currentBrand}"/>
						<input type="hidden" name="currentLimit" id="currentLimit" value="{limit}"/>
						
						{if:{totalcount}>={limit}}
						<div class="show">							
							<p>Показывать по </p>							
							<select name="howmuchshow" id="howmuchshow">
								{mask:limits}
									{if:{limit} <= {//totalcount}}
									<option value="{limit}"{if:{//limit}=={limit}} selected="selected"{/if}>{limit}</option>
									{/if}
								{/mask}
							</select>							
						</div>
						{/if}
						
					</div>
				</div>
			</div>

		</div>

		<div class="clear">
			
		</div>


		<div class="main-cont-inner">	
			

			<!--LEFT COLUMN-->
			<div class="catalog-column-left">

				<div class="sub-list">					
					<ul>
						{mask:subs}
							{if:{link} != "nolink"}
								<li><a href="{url}">{name}</a></li>
							{/if}
							{if:{link} == "nolink"}
								<li class="act"><span>{name}</span></li>
							{/if}
						{/mask}
					</ul>
				</div>				

			</div>
			<!--/LEFT COLUMN-->

			<!--RIGHT COLUMN-->
			<div class="catalog-column-right">
				
				

				<!--BRAND FILTER-->
				<div class="brand-filter">
					<div class="brand-filter-inner">
						<p>Фильтровать по бренду:</p>						
						<select name="filter-brand" id="filter-brand">
							<option value="0"{if:{//currentBrand}==0} selected="selected"{/if}>&nbsp;</option>
							{mask:brand}								
								<option value="{id}"{if:{//currentBrand}=={id}} selected="selected"{/if}>{brand}</option>
							{/mask}								
						</select>						
					</div>
					
				</div>
				<!--/BRAND FILTER-->
				
				<!--CATALOG-->
				<div class="catalog">
					{mask:item}
					<div class="item">
						<div class="image">
							{mask:image}
							{if:{_first}}
							<a href="{../url}"><img src="/files/1/{image}" alt=""/></a>
							{/if}
							{/mask}
						</div>
						<div class="desc">
							<p class="brand">{brand}</p>
							<p class="name">{name}</p>
							<p class="price">Цена: <span>{price}р.</span></p>
							<a class="button" href="{url}">Подробнее о товаре</a>
						</div>
					</div>
					{/mask}					

					<!--PAGINATION-->
					{pages_down}
					<!--/PAGINATION-->
				</div>
				<!--/CATALOG-->



			</div>
			<!--/RIGHT COLUMN-->

		</div>
		</form>	
{/mask}