<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">

	<!--head//-->

	<!--lessstyles//-->

	<link rel="stylesheet" href="/css/style.css">

	<script src="/scripts/jquery.js"></script>

	<script src="/scripts/site.js"></script>
	<script src="/libs/formvalidator.php?js=get"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

</head>


<body>
	<!--control_text//-->
</body>
</html>