<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">

		<!--head//-->

		<!--lessstyles//-->
		
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/response.css">
		<link rel="stylesheet" href="/css/buttons.css">

		<link rel="stylesheet" href="/css/slider.css">
		<link rel="stylesheet" href="/css/skin.css">

		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/jqueryui.js"></script>
		<script src="/scripts/plugins.js"></script>
		<script src="/scripts/slider.js"></script>
		<script src="/scripts/form.js"></script>
		<script src="/scripts/site.js"></script>
		<script src="/scripts/jquery.raty/js/jquery.raty.min.js"></script>
		<script src="/libs/formvalidator.php?js=get"></script>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->

		<script>
			$(document).ready(function(){
				$('#sliderU').layerSlider({
					skin : 'lightskin',
					skinsPath : '/css/slider/',
					durationTimeIn : 200,
					durationTimeOut : 200
				});
			});
		</script>	
		
	</head>


<body>
	
	

	<!--control_text//-->


	


</body>
</html>