.tooltipster-light {
	border-radius: 0;
	border: 2px solid #cfcfcf;
	background: white;
	color: #666666;
}
.tooltipster-light .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 16px;
	padding: 8px 10px;
}