{reduce:nothing}
{mask:main}
<!DOCTYPE html>
<html lang="ru">
<head>

	<title>Система администрирования сайта {sitename}</title>
	
	<meta charset="utf-8">	
	<link rel="stylesheet" type="text/css" href="/admin/decor/{theme}/css/styles.css">
	<link rel="stylesheet" href="/admin/decor/bootstrap/css/bootstrap.css">

	<script type="text/javascript" src="/admin/scripts/jquery-1.6.2.min.js"></script>	
	<script type="text/javascript" src="/admin/scripts/adminNew.js"></script>

	
	
</head>

<body>
	
	<!--MAIN-->
	<div class="main no-bg">	
		
		<!--CONTENT-->
		<div class="block-auth-only container">
		
			<div class="row">				
				<div class="span4 offset4" style="margin-top: 200px;">				
					<h4>Авторизуйтесь, пожалуйста</h4>
					<div class="auth-form">						
						<form method="post" action="/manage/" id="auth-form">			
							
							<p>Логин</p>
							<input type="text" name="authlogin" id="login" value="">
							
							<p>Пароль</p>
							<input type="password" name="authpass" id="pass" value="">
							
							<div>
								<button type="submit" onclick="checkAuthForm(); return false;" class="btn btn-inverse">Продолжить</button>
							</div>
						</form>
					</div>
				</div>
				
			</div>
			
			
		</div>		
		<!--/CONTENT-->
		
				
		
		<script>
			function checkAuthForm() {					
				if ($("#login").val() != "" && $("#pass").val() != "") {			
					document.getElementById("auth-form").submit();	
				}
			}
		</script>					
									
									
	</div>
	<!--/MAIN-->

</body>
</html>		
{/mask}

